* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #e5e5e5;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


/* Header Section */
.header {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 15px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 77%;
}

.nav-bar-btn {
    color: #fff;
    margin: 0 15px;
    transition: 0.7s;
}

.nav-bar-btn:hover {
    color: #d6ae59;
}

#home-btn {
    color: #d6ae59;
}

.btn-header {
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 25px;
}


/* Video Section */
.video-section {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.mask {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-title {
    position: absolute;
    left: 15%;
    top: 35%;
    color: #fff;
    z-index: 2;
    text-align: left;
    width: 100%;
}

.video-title h1 {
    font-size: 7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.video-title p {
    font-size: 25px;
}

.view-more {
    border: 3px solid #fff;
    padding: 12px 30px;
    margin-top: 10px;
}


/* Description Section */
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.description-title {
    width: 70%;
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}

.description p {
    font-size: 25px;
    font-style: italic;
}


/* About Us Section */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.title1 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title1 h3 {
    margin: 0;
}

.title2 {
    position: relative;
    display: inline-block;
    margin-bottom: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3rem;
}

.title2 h2 {
    margin: 0;
}

.info {
    line-height: 1.7em;
    margin: 50px 0;
}

.info p {
    margin: 0;
}

.right {
    width: 38%;
    display: flex;
}


/* Meals Section */
.meals {
    margin: 60px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.food-category {
    width: 86%;
}

.menu-title {
    border-radius: 20px;
    background-color: #fff;
    color: #000000;
    padding: 20px 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2.5rem;
    margin-top: 55px;
}

.menu-title h4 {
    margin: 0;
}

.menu-list {
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.food-name-section {
    margin: 10px 15px;
    width: 100%;
}

.food-name {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.food-info {
    font-style: italic;
    font-size: 17px;
}

#view-more-btn {
    border: 3px solid #fff;
    padding: 10px 25px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s;
}

#view-more-btn:hover {
    background-color: #d6ae59;
    border: 3px solid #d6ae59;
}


/* Banner Section */
.banner {
    display: flex;
}


/* Dining Location Section */
.location {
    display: flex;
    margin: 80px 0;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.location-title {
    text-align: center;
    margin-bottom: 100px;
    width: 50%;
}

.loc-title-1 {
    padding-bottom: 25px;
    line-height: 1.2em;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loc-title-1 h3 {
    margin: 0;
}

.loc-title-2 {
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
}

.loc-title-2 h2 {
    margin: 0;
}

.location-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card {
    margin: 0 30px;
    width: 25%;
}

#selected-info-card {
    margin-top: 10em;
}

.info {
    line-height: 2.2em;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 17px;
}

#selected-title {
    font-size: 2rem;
    text-transform: uppercase;
}


/* Time Section */
.time-section {
    background-image: url(assets/dining-restaurant-5-900x500.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 370px;
}

#time {
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0;
}

#time-info {
    line-height: 1.7em;
    font-weight: 700;
    font-size: 17px;
}


/* Text Cover Section */
.text-cover {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}


/* Private Event Section */
.private-event {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.private-events-btn {
    border: 3px solid #fff;
    padding: 10px 25px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s;
}

.private-events-btn:hover {
    background-color: #d6ae59;
    border: 3px solid #d6ae59;
}